<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.test.asus.bluetoothtestapp" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- android:icon="@mipmap/ic_launcher" -->
    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/monitor_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <meta-data
            android:name="DATABASE"
            android:value="licence.db" />
        <meta-data
            android:name="VERSION"
            android:value="4" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.test.asus.bluetoothtestapp.Entities" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BluetoothController"
            android:label="@string/title_activity_buffer" >
        </activity>
        <activity
            android:name=".LoginController"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".RegisterController"
            android:label="@string/title_activity_sign_in" >
        </activity>
        <activity
            android:name=".SkipController"
            android:label="@string/title_activity_graphic" >
        </activity>
        <activity
            android:name=".FacebookLoginController"
            android:label="@string/title_activity_facebook_login" >
        </activity>
        <activity
            android:name=".TestGraph"
            android:label="@string/title_activity_test_graph"
            android:screenOrientation="portrait" >
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DinamycPlot"
            android:label="@string/title_activity_dinamyc_plot" >
        </activity>
    </application>

</manifest>
